alias rm='/usr/local/bin/rmtrash'
alias rmdir='/usr/local/bin/rmdirtrash'

alias mysql='mysql --pager=more -D antville'

alias bkupftp='lftp -u u51546,kr33LYvaEPZKjS6d u51546.your-backup.de'
alias bkupdu='echo du -hs . | bkupftp'
